<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Piratecraft Banners Webapp</display-name>
	<servlet>
		<servlet-name>PCBannerServlet</servlet-name>
		<servlet-class>com.github.tsa6.piratecraftforumbanners.PirateCraftBannerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PCBannerServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>